<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
      <h1 class="h2 m-3 text-start">Registro de usuario</h1>
      <form method="POST" action="/signup" class="row g-3 container">
        <div class="col-md-6">
          <label for="username" class="form-label">Email</label>
          <input type="email" class="form-control" name="username" id="username" />
        </div>
        <div class="col-md-6">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
          />
        </div>
        <div class="col-6">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="nombre" />
        </div>
        <div class="col-6">
          <label for="edad" class="form-label">Edad</label>
          <input type="number" class="form-control" name="edad" id="edad" />
        </div>
        <div class="col-6">
          <label for="direccion" class="form-label">Direccion</label>
          <input
            type="text"
            class="form-control"
            id="direccion"
            name="direccion"
            placeholder="1234 Main St"
          />
        </div>
        <div class="col-2">
          <label for="inputState" class="form-label">Prefijo</label>
          <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-4">
          <label for="telefono" class="form-label">Teléfono</label>
          <input type="number" class="form-control" name="telefono" id="telefono" />
        </div>
        <div class="col-12">
          <label for="foto" class="form-label">Foto</label>
          <input type="text" class="form-control" name="foto" id="foto" />
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-success">Registrarse</button>
        </div>
      </form>
      <div class="m-3">
        <a class="btn btn-primary" href="/login">Iniciar sesión</a>
      </div>
      </div>

  </body>
</html>
<div class="border border-1 container mt-3">
